[mysqld]               # Section principale pour le serveur MariaDB

# Execute MariaDB under mysql user
user = mysql

# Default port for MySQL cons
# port = 3306

# PID file
pid-file = /run/mysqld/mysqld.pid

# MariaDP repo location
basedir = /usr

# database files location
datadir = /var/lib/mysql

# temporary files location
tmpdir = /tmp

# trad files location
lc-messages-dir = /usr/share/mysql

# language used by server
lc-messages = en_US

# unable extern lock
skip-external-locking

# Takes connexion from all web interfaces, thus allow other srvices to connect
bind-address = 0.0.0.0

# Automatically delete logs
expire_logs_days = 10

# default character enc
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci